li {
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    border: 2px solid sienna;
    padding: 1rem;
    margin: .5rem;
    width: 150px;
    border-radius: 1.25rem;
}
img {
    width: 50%;
}
body {
    background-color:rgb(238, 226, 204)
}

a {
    color: saddlebrown;
}

h1, h3, h4 {
    color: rgb(100, 49, 12);
}
nav {
   display: flex;
   justify-content: space-around;
   background-color: rgb(202, 176, 157);
   padding: 1rem;
}

input {
    border: 2 px saddlebrown;
}